<main class="profile-container">
  <section class="profile">
    <header class="profile__header">
      <div class="profile__avatar-container">
        <img src="images/avatar.jpg" class="profile__avatar" />
      </div>
      <div class="profile__info">
        <div class="profile__name">
          <h1 class="profile__title">{{model.username}}</h1>
          <a href="edit-profile.html" class="profile__button u-fat-text">Editar Perfil</a>
          <i class="fa fa-cog fa-2x" id="cog"></i>
        </div>
        <ul class="profile__numbers">
          <li class="profile__posts">
            <span class="profile__number u-fat-text">{{model.posts.length}}</span> posts
          </li>
          <li class="profile__followers">
            <span class="profile__number u-fat-text">40</span> followers
          </li>
          <li class="profile__following">
            <span class="profile__number u-fat-text">134</span> following
          </li>
        </ul>
        <div class="profile__bio">
          <span class="profile__full-name u-fat-text">{{model.name}}</span>
          <p class="profile__full-bio">{{model.email}}</p>
        </div>
      </div>
    </header>
    <div class="profile__pictures">
      {{#each model.posts as |post|}}
        <a href="image-detail.html" class="profile-picture">
          <img src={{post.image}} class="profile-picture__picture" />
          <h2>{{post.text}}</h2>
          <div class="profile-picture__overlay">
            <span class="profile-picture__number">
              <i class="fa fa-heart"></i> 450
            </span>
            <span class="profile-picture__number">
              <i class="fa fa-comment"></i> 39
            </span>
          </div>
        </a>
      {{/each}}
    </div>
  </section>
</main>
<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__list-item"><a href="#" class="footer__link">about us</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">support</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">blog</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">press</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">api</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">jobs</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">privacy</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">terms</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">directory</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">language</a></li>
    </ul>
  </nav>
  <span class="footer__copyright">© 2017 instagram</span>
</footer>
<div class="popUp">
  <i class="fa fa-times fa-2x" id="closePopUp"></i>
  <div class="popUp__container">
    <div class="popUp__buttons">
      <a href="index.html" class="popUp__button">Log Out</a>
      <a href="#" class="popUp__button" id="cancelPopUp">Cancelar</a>
    </div>
  </div>
</div>